<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

<body>

<header>
    {% include "components/nav.njk" %}

    <div class="headerImage" style='background-image: url({{ headerImage }} )'>
       <h1> {{ title }}</h1>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-1">
                {{ layoutContent | safe }}
            </div>
        </div>
    </div>
</main>

{% include "components/footer.njk" %}

</body>

</html>
